In [4]:
import geopandas as gpd
import matplotlib.pyplot as plt
import ipyleaflet
print("Geospatial environment ready!")

Geospatial environment ready!

In [7]:
City_list = [(40.7128, -74.0060),(34.0522, -118.2437),(41.8781, -87.6298)]
City_list.append((25.7617,-80.1918))

In [11]:
print(City_list)

[(40.7128, -74.006), (34.0522, -118.2437), (41.8781, -87.6298), (25.7617, -80.1918)]

In [17]:
country_set = {"usa","france","germany"}
country_set.add("mongolia")
print(country_set)

{'mongolia', 'usa', 'france', 'germany'}

In [15]:
area_a_species = {"oak", "pine", "maple", "birch"}
area_b_species = {"pine", "birch", "cedar", "fir"}
print("Species in Area A:", area_a_species)
print("Species in Area B:", area_b_species)

Species in Area A: {'pine', 'oak', 'maple', 'birch'}
Species in Area B: {'pine', 'cedar', 'fir', 'birch'}

In [18]:
# Replace multiple occurrences
path_string = "data/raw_data/geographic_data/raw_data/points.csv"
clean_path = path_string.replace("raw_data/", "")
print(f"Original path: {path_string}")
print(f"Clean path: {clean_path}")

Original path: data/raw_data/geographic_data/raw_data/points.csv
Clean path: data/geographic_data/points.csv

In [21]:
precise_lat = 40.712776
precise_lon = -74.005974
# Round to different decimal places
coords_2_places = f"Coordinates: ({precise_lat:.2f}, {precise_lon:.2f})"
coords_4_places = f"Coordinates: ({precise_lat:.4f}, {precise_lon:.4f})"
print(coords_2_places)
print(coords_4_places)
# Adding thousands separators for large numbers
population = 8336817
area_sqkm = 783.8
formatted_stats = f"NYC Population; {population:,} people, Area: {area_sqkm:.1f}km^2"
print(formatted_stats)

Coordinates: (40.71, -74.01)
Coordinates: (40.7128, -74.0060)
NYC Population; 8,336,817 people, Area: 783.8km^2

In [26]:
#Building SQL querie with formatting
table_name = "cities"
min_population = 1000000
region = "North America"

sql_query = f"""SELECT name, latitude, longditude
FROM {table_name}
WHERE population > {min_population:,}
AND region = '{region}'"""


print("Generated SQL query:")
print(sql_query)

Generated SQL query:
SELECT name, latitude, longditude
FROM cities
WHERE population > 1,000,000
AND region = 'North America'

In [31]:
def average(*numbers):
    return sum(numbers) / len(numbers)

print(average(10,20,30))

20.0

In [33]:
def describe_point(latitude,longditude,**kwargs):
    description = f"Point at ({latitude},{longditude})"

    for key, value in kwargs.items():
        description += f",{key}:{value}"
    return description

print(describe_point(35.6895,139.6917,name="Tokyo",population=37400000))
print(describe_point(34.0522,-118.2437,name="Los Angeles", state = "California"))

Point at (35.6895,139.6917),name:Tokyo,population:37400000
Point at (34.0522,-118.2437),name:Los Angeles,state:California

In [35]:
class Point:
    def __init__(self,latitude,longditude,name=None):
        self.latitude = latitude
        self.longditude = longditude
        self.name = name
    def __str__(self):
        return f"{self.name or 'Point'} ({self.latitude}, {self.longditude})"


point1 = Point(35.6896,139.6917,"Tokyo")
print(point1)

Tokyo (35.6896, 139.6917)